@{
    ViewBag.Title = "Search Tweets";
}

<h2>@ViewBag.Title</h2>

<span>@Html.ActionLink("Tweets", "index", "search", new { q = ViewBag.q }, null) |  @Html.ActionLink("People", "users", "search", new { q = ViewBag.q }, null)</span>

<form id="searchForm" action="@Url.Action("index", "search")" method="get">
	@Html.TextBox("q", (string)ViewBag.q, new { id = "search" })
	<button class="button2" type="submit">Search</button>
</form>

@{ var twitterSearchResult = ViewBag.TwitterSearchResult as TweetSharp.TwitterSearchResult; }
@if (twitterSearchResult != null)
{
    <h3>Results for @ViewBag.q</h3>
    
    if (twitterSearchResult.Statuses.Any())
    {
        <div id="statuses">
        @Html.Partial("_TwitterSearchStatuses", twitterSearchResult.Statuses)
        </div>
        <div class="progress"></div>
        <a href="javascript:void(0)" id="more" data-nextpage="2" data-url="@Url.Action("tweets", "search", new { q = ViewBag.q })">more...</a>
    }
    else
    {
        <p>No twitter results for @ViewBag.q</p>
    }
}